body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;  /* Avoid scrollbars */
}

h1, h2, p {
  display: block;
}

h1 {
  font-size: 36px;
  color: #b4b4b4;
}
h2 {
  font-size: 30px;
  color: #b4b4b4;
}
p {
  font-size: 18px;
  color: #b4b4b4;
}
a {
  text-decoration: none;
  color: #007BFF;
}
.overlay-container {
  position: relative;
  width: 100%;
  height: calc(100% - 100px);
}

/* Additional button and positioning styling */
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #555;
}

.button-container {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

h2.button-container {
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.overlay.first {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4em; 
  color: white;    /* Adjust text color as needed */
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.01); */
}

.overlay.second {

   /* Just for emphasis, adjust as needed */
   z-index: 0;
}

#scene-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('/textures/intro.gif');
  background-size: contain;
  padding-left: 30%
}

.locki-header {
  display: flex;
  flex-flow: row nowrap;
  background-image: linear-gradient(to right, #151515 , #151646, #141415);
  border-bottom: 1px solid #14154A;
  justify-content: space-between;
}

.locki-header .home-text {
  display: flex;
  align-items: center;
}

.locki-header .home-text a {
  color: #6c757d;
  padding-left: 50px;
  font-size: 22px;
}

.locki-header .nav-links-container {
  padding: 15px;
}

.locki-header .nav-links-container .nav-links {
  margin-right: 15px;
  color: #ffffff;
}

.locki-footer {
  display: flex;
  flex-flow: row nowrap;
  background-image: linear-gradient(to right, #0C0C0C , #111253, #0B0D0C);
  border-top: 1px solid #14154A;
  justify-content: flex-end;
  align-items: center;
  min-height: 50px;
}

.locki-footer .external-links {
  cursor: pointer;
  margin-right: 15px;
}

.locki-footer .external-links svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}